* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Open sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2");
  font-display: swap;
}
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__body {
  width: 375px;
  padding: 27px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page__body {
    width: 750px;
    padding: 30px 20px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
    font-size: 18px;
  }
}

.tickets-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .tickets-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-auto-rows: auto;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .tickets-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.tickets-list__ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.3px solid #828282;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .ticket {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .ticket {
    flex-direction: row;
    margin-bottom: 60px;
    border: 0.5px solid #828282;
    border-radius: 15px;
    align-items: flex-start;
  }
}

.ticket__status {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding: 7px 10px;
}
.ticket__status--new {
  background-color: #fed74b;
}
@media (min-width: 1200px) {
  .ticket__status--new {
    background-color: #099ce8;
    color: #ffffff;
  }
}
.ticket__status--year {
  background-color: #099ce8;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .ticket__status--year {
    background-color: #fed74b;
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .ticket__status {
    font-size: 16px;
    padding: 15px 35px;
    top: 46;
  }
}

.ticket__link-picture {
  position: relative;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .ticket__link-picture {
    margin-bottom: 0;
  }
}

img {
  display: block;
}

.ticket__photo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ticket__excursion-time {
  display: block;
  padding-left: 25px;
  margin-bottom: 15px;
  font-size: 12px;
  color: #9E9E9E;
  background-image: url("../img/clock-circular-outline.svg");
  background-repeat: no-repeat;
  background-position: left;
}
@media (min-width: 1200px) {
  .ticket__excursion-time {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.ticket__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 22px;
  color: #404040;
}
@media (min-width: 1200px) {
  .ticket__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 11px;
    order: -1;
  }
}

.ticket__description-wrapper {
  padding: 0 12px 18px 12px;
}
@media (min-width: 1200px) {
  .ticket__description-wrapper {
    height: 100%;
    padding: 16px 16px 26px 22px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
}

.ticket__benefits-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.ticket__benefit {
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-position: left 3px;
  padding-left: 36px;
  color: #4b4b4b;
  margin-bottom: 10px;
}
.ticket__benefit:last-child {
  margin-bottom: 0;
}
.ticket__benefit--times {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 8px;
}

.ticket__ticket-link {
  text-decoration: none;
  color: inherit;
}

.ticket__available-time {
  display: inline-block;
  margin-right: 6px;
  padding: 2px 0;
  width: 63px;
  background-color: #d9e8ff;
  border-radius: 11px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.ticket__available-time:last-child {
  margin-right: 0;
}
.ticket__available-time:hover {
  background-color: #6ba6ff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
@media (min-width: 1200px) {
  .ticket__available-time {
    font-size: 16px;
    padding: 3px;
    width: 74px;
  }
}

.ticket__available-time-description {
  display: inline-block;
  margin-right: 100px;
}
@media (min-width: 1200px) {
  .ticket__available-time-description {
    margin-bottom: 0;
    margin-right: 6px;
    white-space: nowrap;
  }
}

.ticket__button-wrapper {
  display: flex;
  padding-right: 7px;
}

.ticket__price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.ticket__price, .ticket__price-dock {
  display: block;
}

.ticket__price {
  font-size: 30px;
  line-height: 20px;
}
@media (min-width: 1200px) {
  .ticket__price {
    font-size: 36px;
  }
}

.ticket__price-dock {
  font-size: 10px;
  line-height: 20px;
  margin-top: 6px;
}
@media (min-width: 1200px) {
  .ticket__price-dock {
    font-size: 14px;
  }
}

.ticket__show-more-button {
  width: 165px;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  text-decoration: none;
  background-color: #fed74b;
  text-align: center;
  border: 0.5px solid #cba500;
  padding: 12px;
  border-radius: 20px;
}
.ticket__show-more-button:hover {
  opacity: 0.8;
}
.ticket__show-more-button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1200px) {
  .ticket__show-more-button {
    font-size: 18px;
    width: 188px;
    padding: 16px;
  }
}

.main-container {
  width: 340px;
}
@media (min-width: 768px) {
  .main-container {
    width: 710px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    width: 1100px;
  }
}
/*# sourceMappingURL=style.css.map */