@font-face {
  font-family: "Open sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2");
  font-display: swap;
}